# Ignore everything in node_modules
node_modules/*

# Allow only the matter-js library
!node_modules/matter-js/
!node_modules/matter-js/**/*

# Ignore unnecessary files inside matter-js
node_modules/matter-js/test/
node_modules/matter-js/examples/
node_modules/matter-js/**/*.md
node_modules/matter-js/**/*.map

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
