* {
  padding: 0%;
  margin: 0%;
  font-family: monospace;
}

header {
  height: 3em;
  padding-top: 1em;
  justify-content: center;
  background: linear-gradient(to bottom left, #8a0c73 60%, #ff99cc 75%);
  /* background-image: linear-gradient(rgb(#83b644), rgba(255, 255, 255, 0)); */
  display: flex;
  height: 8em;
}

#miniHeader {
  display: flex;
  background-color: #215988;
  height: 2.5em;
  border-bottom: #030303;
  /* border-style: solid; */
  /* border-width: 1px; */
}

#miniHeaderButtons {
  display: flex;
  background-color: #215988;
  justify-content: center;
  align-items: center;
  width: 20em;
}

footer {
  font-size: larger;
  border-top-style: solid;
  border-width: 2em;
  border-color: #215988;
  background: linear-gradient(to top right, #8a0c73 60%, #ff99cc 75%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  justify-items: center;
  align-content: end;
  display: flex;
}

a {
  text-decoration: none;
}

#GameSelect {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 3em;
  justify-content: center;
}

#GameBox {
  margin: 2em;
  padding: 1em;
  height: 16em;
  width: 15em;
  justify-items: center;
  border-radius: 5%;
  background-color: #215988;
}

img {
  border-radius: 5%;
  width: 15em;
  height: 15em;
}

#GameName {
  font-size: larger;
  color: #f1f14e;
}

body {
  background: linear-gradient(to bottom, #f1f379 37%, #f49416 100%);
  background-attachment: fixed;
}

#footerText {
  color: #f1f14e;
}

#casinoName {
  color: #f1f14e;
  font-family: sans-serif;
  font-style: italic;
  position: absolute;
  left: 350px;
  top: 0.7em;
  font-size: 48px;
}

/* #Loginbutton {
  color: #40404e;
  background-color: rgb(36, 229, 36);
  position: absolute;
  top: 20px;
  right: 40px;
  border-radius: 500;
} */

#Login {
  color: #f1f14e;
  background-color: #db2caf;
  position: absolute;
  top: 3em;
  right: 60px;
  border: 1px #215988;
  border-style: solid;
  border-radius: 5px;
  width: 70px;
  height: 40px;
  transition: background-color 0.3s ease;
}
#Login:hover {
  background-color: #a01a7e;
}

#registerButton {
  color: #f1f14e;
  background-color: #db2caf;
  position: absolute;
  top: 3em;
  right: 150px;
  border: 1px #215988;
  border-style: solid;
  border-radius: 5px;
  width: 85px;
  height: 40px;
  transition: background-color 0.3s ease;
}

#registerButton:hover {
  background-color: #a01a7e;
}
#slotsButton {
  height: 2.5em;
  width: 6em;
  transition: background-color 0.3s ease;
  background-color: #db2caf;
  color: #f1f14e;
  border: 1px #215988;
  border-style: solid;
}

#slotsButton:hover {
  background-color: #a01a7e;
}

#games {
  height: 2.5em;
  width: 6em;
  background-color: #db2caf;
  color: #f1f14e;
  border: 1px #215988;
  border-style: solid;
}
#games:hover {
  background-color: #a01a7e;
}

#logo {
  height: 8em;
  width: 8em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 6em;
  position: absolute;
  /* border-radius: 5em; */
}
