* {
  padding: 0%;
  margin: 0%;
  font-family: monospace;
}

header {
  height: 3em;
  padding-top: 1em;
  justify-content: center;
  background-color: #32723e;
  /* background-image: linear-gradient(rgb(#83b644), rgba(255, 255, 255, 0)); */
  display: flex;
  height: 8em;
}

#miniHeader {
  display: flex;
  background-color: #32723e;
  height: 2.5em;
  border: #030303;
  border-style: solid;
  border-width: 1px;
}

#miniHeaderButtons {
  display: flex;
  background-color: #32723e;
  justify-content: center;
  align-items: center;
  width: 20em;
}

footer {
  font-size: larger;
  background-color: #3a3a38;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  justify-items: center;
  align-content: end;
  display: flex;
}

a {
  text-decoration: none;
}

#GameSelect {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  justify-content: center;
}

#GameBox {
  margin: 2em;
  padding: 1em;
  height: 15em;
  width: 15em;
  justify-items: center;
  border-radius: 5%;
}

img {
  border-radius: 5%;
  width: 15em;
  height: 15em;
}

#GameName {
  font-size: larger;
  color: rgb(0, 0, 0);
}

body {
  background-color: #ffffff;
}

#footerText {
  color: white;
}

#casinoName {
  color: white;
  position: absolute;
  left: 350px;
  top: 0.7em;
  font-size: 48px;
}

/* #Loginbutton {
  color: #40404e;
  background-color: rgb(36, 229, 36);
  position: absolute;
  top: 20px;
  right: 40px;
  border-radius: 500;
} */

#Login {
  color: #ffffff;
  background-color: #32723e;
  position: absolute;
  top: 3em;
  right: 60px;
  border-radius: 5px;
  width: 70px;
  height: 40px;
  transition: background-color 0.3s ease;
}
#Login:hover {
  background-color: #1f4627;
}

#registerButton {
  color: #030303;
  background-color: #fdfa3f;
  position: absolute;
  top: 3em;
  right: 150px;
  border-radius: 5px;
  width: 85px;
  height: 40px;
  transition: background-color 0.3s ease;
}

#registerButton:hover {
  background-color: #b6b42f;
}
#slotsButton {
  height: 2.5em;
  width: 6em;
  transition: background-color 0.3s ease;
  background-color: #32723e;
  color: white;
}

#slotsButton:hover {
  background-color: #1f4627;
}
