* {
  padding: 0%;
  margin: 0%;
  font-family: monospace;
}

header {
  height: 3em;
  padding-top: 1em;
  justify-items: center;
  background-color: gray;
}

footer {
  font-size: larger;
  background-color: gray;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  justify-items: center;
  align-content: end;
}

a {
  text-decoration: none;
}

#GameSelect {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
}

#GameBox {
  margin: 1em;
  padding: 1em;
  height: 12em;
  width: 13em;
  justify-items: center;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
}

img {
  border-radius: 25%;
  width: 10em;
  height: 10em;
}

#GameName {
  font-size: larger;
  color: black;
}
